/* body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.color-box {
    width: 200px;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: bold;
}
.named { 
    background-color: tomato; 
}
.hex { 
    background-color: #3498db; 
}
.rgb { 
    background-color: rgb(46, 204, 113); 
}
.rgba { 
    background-color: rgba(241, 196, 15, 0.8); 
}
.hsl { 
    background-color: hsl(120, 100%, 50%); 
}
.hsla { 
    background-color: hsla(240, 100%, 50%, 0.5); 
} */
 h1{
    color: #a414ba;
    /* font-size: 4rem; */
    font-family: 'Playfair Display';
    /* font-weight: 700;
    font-style: italic;
    padding: 5px;
    border: 4px solid green; */
    word-spacing: 40px;
    letter-spacing: 3px;
 }
 p{
    line-height: 30px;
    text-transform: capitalize;
 }

 .border-style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
 }
 .box{
    background-image: url(/CompressJPEG.Online_img\(500x500\).jpg);
    background-size:cover;
    background-position: center;
    background-attachment:scroll;
    padding: 30px 30px;
    justify-items: center;
    text-align: center;
    color:darkred;
    font-size: 1.5rem;
    font-weight: 700;
    /* width: 200px;
    height: 100px; */
 }
 .solid{
    border: 13px solid purple;
 }
.dotted{
    border: 5px dotted green;
}
.duble{
    border: 11px double black;
}
.dashed{
    border: 5px dashed #a414ba;
}